@import './styles/colors.module.scss';

.App {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  align-items: center;
  background-color: $milky;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 8px;
}
